<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel='stylesheet' href='./main.css')
        body
            .wrap
                .wrap-users
                    ul.list-users
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                        li.list-users_user
                            .list-users_user--foto
                            .list-users_user--name
                .wrap-message
                    .wrap-message--write
                        form.form-message(action="" name="form-message")
                          textarea.form-message__text(name="login" type="text" placeholder="writing the message here" required)
                          button.form-message__submit(type="submit") send
                        
                     .wrap-login
                         .wrap-login--title authentication in the chat
                         form.form-login(action="" name="form-login")
                           input.form-login__login(name="login" type="text" placeholder="login" required)
                           input.form-login__password(name="password" type="password" placeholder="password" required)
                           button.form-login__submit(type="submit") welcome
                    
                    
            script(src="./main.js")
